style {
	height: 100%;
	width: 100%;
}

body{
margin:0px;
padding:0px;
background-image:url(img/body_bg.gif);
background-repeat:repeat-x;
}
.main{
width:990px;
margin:auto;
padding:0px;
}

.first_header{
width:990px;
margin:0px;
padding:0px;
height:49px;
float:left;
}

.header_main{
width:990px;
margin:0px;
padding:0px;
float:left;
height:151px;
}

.logo{
width:111px;
height:151px;
float:left;
margin:0px;
padding:0px;
}

.logo_text{
width:185px;
height:111px;
float:left;
margin:0px;
padding:40px 0px 0px 0px;
font-family:Arial;
font-size:13px;
font-weight:bold;
text-align:center;
}

.menu_text {
width:694px;
height:151px;
margin:0px;
padding:0px;
float:left;
}

.center{
width:990px;
float:left;
margin:0px;
padding:0px;
}

.col_1{
width:194px;
font-family:arial;
font-size:15px;
font-weight:bold;
float:left;
}

.col_1menu{
width:194px;
height:31px;
background-image:url(img/left_bg.gif);
background-repeat:no-repeat;
margin:0px;
padding:0px;
text-align:center;
color:#000000;
display:block !important;
}

.col_1menu a{
width:194px;
height:31px;
font-family:arial;
font-size:15px;
font-weight:bold;
text-decoration:none;
color:#000000;
}

.col_1menu a:hover{
text-decoration:underline;
color:#000000;
}

.col_2{
width:792px;
margin:0px;
padding:0px;
float:left;
}

.content_area{
width:772px;
margin:0px;
padding:10px 10px 10px 10px;
float:left;
border-top:1px solid #666666;
}

.heading_text{
text-align:center;
color:#000000;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
}

.simple_text{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
font-weight:normal;
line-height:20px;
}

.online_links{
width:184px;
height:31px;
font-family:Arial;
font-size:12px;
font-weight:normal;
text-align:right;
color:#000000;
background-image:url(img/left_bg.gif);
background-repeat:no-repeat;
padding:0px 10px 0px 0px;
}

.online_links a{
text-decoration:none;
width:184px;
height:31px;
font-family:Arial;
font-size:12px;
font-weight:normal;
text-align:right;
color:#000000;
}

.online_links a:hover{
text-decoration:underline;
color:#101010;
}

.footer{
width:990px;
height:44px;
background-image:url(img/footer_bg.gif);
background-repeat:repeat-x;
font-family:Arial;
font-size:14px;
font-weight:bold;
text-align:center;
float:left;
}

.footer_text{
width:990px;
height:20px;
padding-top:12px;
text-align:center;
}