.hMenu
{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#000000;
	float:right;
}

.hMenu ul
{
	background:url(../Images/hMenuBackground.gif) top left repeat-x;
	height:51px;
	list-style:none;
	margin:0;
	padding:0;
}

.hMenu li
{
	float:left;
}

.hMenu li a
{
	color:#000000;
	display:block;
	font-weight:bold;
	line-height:30px;
	padding:0px 47px;
	text-align:center;
	text-decoration:none;
}
	
.hMenu li a:hover
{
	background-image:url(../Images/hMenuBackgroundHover.gif);
	color:#000000;
	text-decoration:underline;
}

.hMenu li ul
{
	background:#e0e0e0;
	border-left:2px solid #0079b2;
	border-right:2px solid #0079b2;
	border-bottom:2px solid #0079b2;
	display:none;
	height:auto;
	filter:alpha(opacity=95);
	opacity:0.95;
	position:absolute;
	width:225px;
	z-index:200;
}

.hMenu li:hover ul
{
	display:block;
}
	
.hMenu li li 
{
	display:block;
	float:none;
	width:225px;
}
	
.hMenu li ul a
{
	display:block;
	font-size:12px;
	font-style:normal;
	padding:0px 10px 0px 15px;
	text-align:left;
}

.hMenu li ul a:hover
{
	background:#949494;
	color:#000000;
	opacity:1.0;
	filter:alpha(opacity=100);
}

.hMenu p
{
	clear:left;
}
	
.hMenu #current
{
	background:url(images/current-bg.gif) top left repeat-x;
	color:#ffffff;
}

/***************************************************/

.vMenu 
{
	width: 194px; /* set width of menu */
	float:left;
} 

.vMenu ul 
{ /* remove bullets and list indents */
	list-style: none;
	margin: 0;
	padding: 0;
}

/* style, color and size links and headings to suit */
.vMenu a, .vMenu h2 
{
	font: bold 11px/16px arial, helvetica, sans-serif;
	display: block;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc #888 #555 #bbb;
	margin: 0;
	padding: 2px 3px;
}

.vMenu h2 
{
	color: #fff;
	background: #000;
	text-transform: uppercase;
}

.vMenu a 
{
	color: #000;
	background-image:url(../Images/vMenuBackground.gif);
	background-repeat:no-repeat;
	text-decoration: none;
}

.vMenu a:hover 
{
	background-image:url(../Images/vMenuBackgroundHover.gif);
	background-repeat:no-repeat;
	font-weight:bold;
}

/**************************************************************/

.menuBar ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuBar li
{
    float: right;
}

.menuBar li a, .menuBar li span
{
    height: 2em;
    line-height: 2em;
    display: block;
    text-decoration: none;
    text-align: center;
}

.pageMenuBar ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.pageMenuBar li
{
    float: left;
}

.pageMenuBar li a, .pageMenuBar li span
{
    height: 2em;
    line-height: 2em;
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
}

#topNavigation li a
{
    width: 11em;
    background-color: #C9A976;
    border: 0.1em solid #FFF7EC;
    color: #000033;
}

#topNavigation li a:hover
{
    background-color: #FFE1AD;
    color: #000033;
    font-weight:bold;
}

#topNavigation .selectedMenu
{
    font-weight:bold;
    font-size:1em;
    background-color:#EFEFEF;
    color:#000033;
    border-color: #EFEFEF;
}

/*********************************************************/

.tabContent 
{
    border: 1px solid #AAA;
	padding: 1.5em;
	background: #FFFDF3;
	min-height: 300px;
}

.tabNavigation {
	position: relative;
	width: 100%;
	height: 3em;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

.tabNavigation ul.primary {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

.tabNavigation ul.primary li  {
	display: inline;
	list-style: none;
}

.tabNavigation ul.primary a,.tabNavigation ul.primary span,.tabNavigation ul.primary a.current {
	width: 8em;
	display: block;
	float: left;
	padding: 4px 0;
	margin: 1px 2px 0 0;
	text-align: center;
	text-decoration: none;
	color: #333;
}

.tabNavigation ul.primary span,.tabNavigation ul.primary a.current,.tabNavigation ul.primary a.current:hover {
	border: 1px solid #666;
	border-bottom: none;
	background: #FFF3B3;
	padding-bottom: 6px;
	margin-top: 0;
}

.tabNavigation ul.primary a {
	background: #FFFAE1;
	border: 1px solid #AAA;
	border-bottom: none;
}

.tabNavigation ul.primary a:hover {
	margin-top: 0;
	border-color: #666;
	background: #FFF7CD;
	padding-bottom: 5px;
}

.tabNavigation ul#secondary {
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: -1.4em;
	left: 1px;
	width: 50em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

.tabNavigation ul#secondary li a,.tabNavigation ul#secondary li span {
	width: auto;
	display: block;
	float: left;
	padding: 0 10px;
	margin: 0;
	text-align: auto;
	border: none;
	border-right: 1px dotted #AAA;
	background: none;

}

.tabNavigation ul#secondary li a {
	color: #06C;
	text-decoration: underline;
}

.tabNavigation ul#secondary li a:hover {
	color: #333;
	background: transparent;
	padding: 0 10px;
	border: none;
	border-right: 1px dotted #AAA;
}

.tabNavigation ul#secondary li a:active {
	color: #000;
	background: transparent;
}

.tabNavigation ul#secondary li:last-child a { border: none; }